.section-search {
  position: relative;
  padding: 50px 0;
}
.section-search__content {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  z-index: 9;
}
.section-search__title {
  color: #FFFFFF;
  margin-bottom: 50px;
}
.section-search__image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.section-search__image img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  filter: brightness(40%);
}
.section-search-button {
  max-width: 63px;
  width: 100%;
}
.section-search-input {
  min-height: 62px;
}
.section-search__search {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  gap: 20px;
  max-width: 830px;
}
.section-search__filters {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 20px;
}

@media (max-width: 956px) {
  .section-search__filters {
    flex-direction: column;
  }
}